*{
    margin: 0px;
    padding: 0px;
}
   /* stylesheet start */
/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common styles */
body{
    font-family: 'Poppins', sans-serif;
}
.rectangle{
    background-color: #2D25A0;
    display: flex;
    width: 1517px;
    height: 600px;

    
}
.livestream h2{
    color: white;

}
.livestream h2{
    font-size: 60px;
    margin-top: 180px;
    margin-left: 180px;
}
.live-link a{ 
    text-decoration: none;
}
.live{
    background-color: #E02C6D;
    color: white;
    font-size: 20px;
    margin-top: 40px;
    margin-left: 170px;
    width: 144px;
    height: 35px;
    padding-top: 10px;
    text-align: center;
}
.live:hover{
    background-color: teal;
    
    
}
.kick-ball img{
    width: 500px;
    height: 400px;
    margin-top: 100px;
    margin-left: 300px;
    

}
.kick-ball:hover img{
    transform: translate(10px, 10px);
    transition: transform 1s ease .3s;
}

/* section2 start */

.player img{
    padding-bottom: 30px;
    width: 300px;
    height: 300px;
}
.player{
    width: 300px;
    height: 426px;
    padding: 30px;
    box-shadow: 0px 0px 5px 0.15px  gray;



}
.player h1{
    margin-bottom: 20px;
}

.players-container{
    
    margin-left: 180px;
    margin-top: 30px;
    margin-right: 170px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}