*{
    margin: 0px;
    padding: 0px;
}
   /* stylesheet start */
/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common styles */
body{
    font-family: 'Poppins', sans-serif;
}
.rectangle{
    background-color: #2D25A0;
    display: flex;
    width: 1550px;
    height: 600px;

    
}
.livestream h2{
    color: white;

}
.livestream h2{
    font-size: 60px;
    margin-top: 180px;
    margin-left: 180px;
}
.live-link a{ 
    text-decoration: none;
}
.live{
    background-color: #E02C6D;
    color: white;
    font-size: 20px;
    margin-top: 40px;
    margin-left: 170px;
    width: 144px;
    height: 35px;
    padding-top: 17px;
    text-align: center;
}
.live:hover{
    background-color: teal;
    
    
}
.kick-ball img{
    width: 500px;
    height: 400px;
    margin-top: 100px;
    margin-left: 340px;
    

}
.kick-ball:hover img{
    transform: translate(10px, 10px);
    transition: transform 1s ease .3s;
}
